{% extends 'display/demo_base.html' %}

{% block title %}
添加博客
{% endblock %}

{% block body %}
{#    csrf_toke的防止跨域请求#}
    <h1>添加新产品</h1>
    <form action="{% url 'add' %}" method="post">{% csrf_token %}
    产品名<input type="text" id="product" name="title" placeholder="请输入产品类型名">
    编号<input type="text" id="sku" name="content" placeholder="请输入产品编号">
    数量<input type="number" id='number' name="number" placeholder="请输入产品数量">
    <button type="submit">提交变动</button>
    <button type="reset">充值页面</button>

    </form>
    <a href="{% url 'index' %}">返回首页</a>

{% endblock %}